*.md linguist-language=java
*.pdf linguist-language=java
*.js linguist-language=java
*.css linguist-language=java
*.html linguist-language=java
*.cmd linguist-language=java
*.jar linguist-language=java
