
<!--
    如果需要修改模板文件的后缀，以及默认路径，只需要在application.properties文件里修改如下的属性即可:

    # 是否启用缓存
    spring.thymeleaf.cache=true
    # 检查当前模板文件是否存在
    spring.thymeleaf.check-template-location=true
    # 设置模板文件的Content-Type
    spring.thymeleaf.content-type=text/html
    # 是否启用thymeleaf模板引擎
    spring.thymeleaf.enabled=true
    # 编码格式
    spring.thymeleaf.encoding=UTF-8
    # Comma-separated list of view names that should be excluded from resolution.
    spring.thymeleaf.excluded-view-names=
    # 模板文件的模式
    spring.thymeleaf.mode=HTML5
    # 模板文件的路径
    spring.thymeleaf.prefix=classpath:/templates/
    # 模板文件的后缀
    spring.thymeleaf.suffix=.html
-->
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>spring boot 模板引擎示例</title>
</head>
<body>
    <h1 th:text="${host}">Hello World</h1>
</body>
</html>